streamlit==1.24.0
pandas==2.0.3
numpy==1.24.4
pytz==2023.3
plotly==5.15.0
requests==2.31.0
statsmodels==0.14.0
tradingview_ta
altair==4.2.2
scikit-learn==1.3.2
streamlit-autorefresh
python-binance==1.0.17
